<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BoardViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="BoardViewer.Properties.Update" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <BoardViewer.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="MaximizeWindowOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormStartPosition" serializeAs="String">
                <value>208, 208</value>
            </setting>
            <setting name="FormStartSize" serializeAs="String">
                <value>284, 520</value>
            </setting>
            <setting name="GraphicsMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphicsQuality" serializeAs="String">
                <value>2</value>
            </setting>
        </BoardViewer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BoardViewer.Properties.Update>
            <setting name="lastUpdateCheck" serializeAs="String">
                <value>0</value>
            </setting>
        </BoardViewer.Properties.Update>
    </applicationSettings>
</configuration>
